// /etc/polkit-1/rules.d/49-gaming-power.rules
//
// Permetti all'utente 'gamer' di spegnere, riavviare e sospendere
// senza richiedere password.

polkit.addRule(function(action, subject) {
    if (
        (action.id === "org.freedesktop.login1.reboot" ||
         action.id === "org.freedesktop.login1.reboot-multiple-sessions" ||
         action.id === "org.freedesktop.login1.power-off" ||
         action.id === "org.freedesktop.login1.power-off-multiple-sessions" ||
         action.id === "org.freedesktop.login1.suspend" ||
         action.id === "org.freedesktop.login1.suspend-multiple-sessions" ||
         action.id === "org.freedesktop.login1.hibernate" ||
         action.id === "org.freedesktop.login1.hibernate-multiple-sessions") &&
        subject.user === "gamer"
    ) {
        return polkit.Result.YES;
    }
});
